<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css')  }}" rel="stylesheet">

    <title>Machine Learning and Data Science Lab</title>
</head>

<body>
    <nav style="width: 100%;" class="navbar navbar-dark bg-secondary">
        <a class="  navbar-brand" href="#" style="margin-left: -0.5%;">
             <img src="{{ url_for('static',filename = 'image/PIET logo with tagline.jpg')  }}" 
             class="img-responsive" style="margin-top: -1%;style="width: auto; height: auto; min-width: 600px;min-height: 600px;">
              <ul class='nav-links'>
              <li><a class="active" href="/aboutme" style="color: white; text-decoration: none;" >ABOUT</a> &nbsp;  &nbsp; <a class="active" href="/minorproject" style="color: white; text-decoration: none;" >Minor Project</a> &nbsp;  &nbsp; <a class="active" href="/index" style="color: white; text-decoration: none;" >Major Project</a></li>
              </ul>
      </div>
           
        </a>
        
    </nav>
    <style>
    ul{
     list-style: none;
     height:0.5%;
     padding-bottom: 1%;
     width:100%;
     overflow: hidden;
     background-color: #333;
     margin-bottom:-0.5%;
     margin-top:-0.2%;
     color: 'white';
    }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">

                <img src="{{ url_for('static',filename = 'image/DanceBot-3-LG.gif')  }}" class="img-fluid"
                    style="width: auto; height: auto; min-width: 400px;min-height: 400px;">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 " style=" padding: 0px; margin-top:2%">
                <h1>Machine Learning  Experiment Solutions</h1>
                <br><br>
                <h4 text-align: justify; style="color:blue;style="font-family:verdana;>It is  a web portal to understand basics of Machine Learning. It helps to understand data preprocessing, Supervised machine learning, Unsupervised Machine Learning, Feature Engineering, Feature selection and Natural language processing. It allows user to upload datasets and to be pre processed. It creates Machine Learning Model on Given datasets. It Extracts relevant features from datasets and also tranform Features. Natural languge Processing model is also constructed.   </h4>
              
                
                <br><br>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">
            
                    <div class="card">
                        <img style="max-height: 300px;" src="{{ url_for('static',filename = 'image/dp ml.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Data PreProcessing for ML</h5>
                            <p class="card-text">Data preprocessing is a process of preparing the raw data and making it suitable for a machine learning model. It is the first and crucial step while creating a machine learning model. Data preprocessing is neccessory to train ml model.</p>
                        </div>
            
            
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 300px;"
                            src="{{ url_for('static',filename = 'image/supervised ml.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Supervised Machine Learning</h5>
                            <p class="card-text">Supervised learning is the machine learning task of learning a function
                                that maps an
                                input to an output based on example input-output pairs. It infers a function from
                                labeled training data
                                consisting of a set of training examples.</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 300px;"
                            src="{{ url_for('static',filename = 'image/unsupervised ml.jpg')  }}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Unsupervised Machine Learning</h5>
                            <p class="card-text">Unsupervised learning is a type of algorithm that learns patterns from
                                untagged data.
                                The hope is that through mimicry, the machine is forced to build a
                                compact internal representation of its world and then generate imaginative content.</p>
                        </div>


                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 300px;"
                            src="{{ url_for('static',filename = 'image/feature.jfif')  }}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Feature Selection and Engineering</h5>
                                <p class="card-text">Feature engineering is the process of using domain knowledge to extract features (characteristics, properties, attributes) from raw data. A feature is a property shared by independent units on which analysis or prediction is to be done. Features are used by predictive models and influence results..</p>
                        </div>


                    </div>
                </div>
            </div>
       
       <div class="col-xs-12 col-md-4">
                <div class="card mb-3">

                    <div class="card">
                        <img style="max-height: 300px;"
                            src="{{ url_for('static',filename = 'image/nlp.jpg')  }}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Natural Language Processing</h5>
                                <p class="card-text">Natural language processing (NLP) refers to the branch of computer science—and more specifically, the branch of artificial intelligence or AI—concerned with giving computers the ability to understand text and spoken words in much the same way human beings can.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="fixed-bottom ">
        <div class="bg-secondary " style="min-height: 40px;">

            <marquee style="color:#fff; margin-top: 7px;">
                <h9>Developed by Alok Raj Under the guidance of Deepak Moud(HOD of Computer Science Department, PIET</h9>
            </marquee>
        </div>
    </div>
    <!-- change later-->
    <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>

</body>

</html>