<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<title>Machine Learning KNN Deployment</title>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
<style><!DOCTYPE html>

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<style>
.myDiv {
  border: 10px outset lightblue;
  background-color: lightblue;    
  text-align: center;
}

.button {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.button1 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button1:hover {
  background-color: #f64949ab;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button2:hover {
  background-color: #37bea5;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button3:hover {
  background-color: #9c0e9d;
  color: white;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button4:hover {
  background-color: #b1c711;
  color: white;
}

.button5 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button5:hover {
  background-color: #740821;
  color: white;
}

.button6 {
  background-color: white; 
  color: black; 
  border: 5px solid darkblue;
}

.button6:hover {
  background-color: #0eab60;
  color: white;
}
</style>
</head>

<body>
      
<div class="myDiv" style="background-color:grey;" >
           
<div class="col-md-12">
<center><p style="font-size:40px;color:white;margin-top:10px;">Poornima Institute of Engineering & Technology</p></center> 
<center><p style="font-size:30px;color:white;margin-top:10px;">Department of Computer Engineering</p></center> 
<center><p style="font-size:25px;color:white;margin-top:10px;">Summer Internship 2022 on Machine learning and Data Science</p></center> 
</div>

<div class="login">
<h2 ><u>Analysis to Predict whether it is a Fraud or not</u></h2>
<h3><i><u>Developed by Alok Raj</i></u></h3>
<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="get">


<div class="form-floating mb-3">

<input type="number" class="form-control" id="V1" name="V1" step="any" min="-31.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V1</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V2" name="V2" step="any" min="-15.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V2</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V3" name="V3" step="any" min="-32.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V3</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V4" name="V4" step="any" min="-4.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V4</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V5" name="V5" step="any" min="-23.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V5</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V6" name="V6" step="any" min="-7.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V6</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V7" name="V7" step="any" min="-44.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V7</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V8" name="V8" step="any" min="-42.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V8</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V9" name="V9" step="any" min="-14.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V9</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V10" name="V10" step="any" min="-25.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V10</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V11" name="V11" step="any" min="-3.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V11</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V12" name="V12" step="any" min="-19.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V12</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V13" name="V13" step="any" min="-4.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V13</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V14" name="V14" step="any" min="-20.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V14</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V15" name="V15" step="any" min="-5.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V15</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V16" name="V16" step="any" min="-15.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V16</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V17" name="V17" step="any" min="-26.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V17</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V18" name="V18" step="any" min="-10.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V18</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V19" name="V19" step="any" min="-4.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V19</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V20" name="V20" step="any" min="-5.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V20</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V21" name="V21" step="any" min="-23.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V21</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V22" name="V22" step="any" min="-9.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V22</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V23" name="V23" step="any" min="-20.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V23</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V24" name="V24" step="any" min="-3.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V24</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V25" name="V25" step="any" min="-5.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V25</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V26" name="V26" step="any" min="-2.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V26</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V27" name="V27" step="any" min="-8.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V27</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="V28" name="V28" step="any" min="-2.0" max="100.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of V28</label>
</div>
<br>

<div class="form-floating mb-3">

<input type="number" class="form-control" id="Amount" name="Amount" step="any" min="0.0" max="5000.0" placeholder="0" required="required">
<label for="floatingInput">Enter value of Amount</label>
</div>
<br>

<br>
 <div class="col-md-4" style="color: #FFF;">
                <label for="inputState" class="form-label">Choose a Model</label>
                <select id="Model" name ="Model" step = "any" class="form-select" required>
                    <option selected>Logistic Prediction</option>
                    <option>KNN Prediction</option>
                    <option>Decision Tree Prediction</option>
                    <option>Random Forest Prediction</option>
                    <option>SVM Prediction</option>
                </select>
            </div>
            <br>
            <div class="col-12">
                <button type="submit" value="NB" name="NB" class="btn btn-outline-danger">Submit</button>
            </div>
</form>
<br>
<br>

<div class="myDiv">
<h2>
{{ prediction_text }}
</h2>
</div>

</div>

<div class="" style="background-color:green;" >
<div class="clearfix">
           
<div class="col-md-12">
 <center><p style="font-size:25px;color:white;margin-top:20px;border: 10px outset #37b486;">Experiment Performed in Summer internship 2022 from 27 June to 8 August </p></center> 
</div>

</div>
</div>
</body>
</html>
